<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Citrus Results</title>
    <link href="/static/style.css" rel="stylesheet" media="all">
  </head>
<body>

  {{ template "header.html" . }}

  <div class="center">
    <h1>Citrus Results</h1>
  </div>

  <ul>
    {{ range $index, $infoRes := .tests }}
    <li>
      {{ $res := $infoRes | GeneralResult }}
      <div class="res {{ $res }}">{{ $res | Res2Icon }}</div>
      <a href="/result/{{ $infoRes.Info.Ts }}">
        <strong>{{ $infoRes.Info.Ts | RFC1123 }}</strong>
      </a>
    </li>
    {{ end }}
  </ul>

  {{ template "footer.html" . }}

</body>
</html>
