body {
    margin: 40px auto;
    max-width: 800px;
    line-height: 1.4;
    font-size: 18px;
    color: #333;
    padding: 0 10px;
}

h1,h2,h3 {
    line-height: 1.2;
}

.center {
    text-align: center;
}

input[type=text] {
    font-family: inherit;
    font-size: 18px;
    width: 600px;
    max-width: 100%;
}

textarea {
    font-family: inherit;
    font-size: 18px;
    width: 600px;
    max-width: 100%;
}

form p label {
    display:block;
    float:left;
    width:120px;
}

label {
    text-align: right;
    padding: 0 10px;
    font-weight: bold;
}
